<h1>Select your audio device</h1>

<ul>
  <li *ngFor="let audioDevice of audioDevices">
    <button type="button" (click)="selectAudioDevice(audioDevice)">{{audioDevice.label}}</button>
  </li>
</ul>


<div *ngIf="audioDevice !== null">
  <hr>
  <h1>Select your video device</h1>

  <ul>
    <li *ngFor="let videoDevice of videoDevices">
      <button type="button" (click)="selectVideoDevice(videoDevice)">{{videoDevice.label}}</button>
    </li>
  </ul>
</div>

<hr>

<div>
  <h1>Recorder</h1>

  <video 
    #videoElement 
    width="320" 
    height="240" 
    controls
    autoplay
    playsInline>
      
    <source [src]="videoBlobUrl"/>
  </video>

  <br>
  
  <button id="btn-start-recording" (click)="startRecording()" [disabled]="!audioDevice || !videoDevice">Start Recording</button>
  
  <button id="btn-stop-recording" (click)="stopRecording()" [disabled]="!audioDevice || !videoDevice">Stop Recording</button>
</div>
